<footer class="footer-bottom">
    <div class="copy-right">
        <p>© The Geeks Company. All rights reserved.</p>
    </div>
    <div class="links-to-pages">
        <ul>
            <li><a href="/users/home">Home</a></li>
            <li><a href="/users/profile">Profile</a></li>
        </ul>
    </div>
</footer>