<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" type="text/css" href="/nerdsConnect/assets/signup.css">
</head>
<body>
    <div class="body-container">
        <div class="signup-container">
            <div class="signup-form">
                <h1 id="signup-text">Sign Up</h1>
                <form action="POST">
                    <input type="text" name="email" placeholder="Email address" required>
                    <input type="text" name="password" id="" placeholder="Password" required>
                    <input type="text" name="name" placeholder="">
                    <button id="signup-button" type="submit">Create your account</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>