$green: #1db954;
$matte-black:#212121;
$black:	#121212;
$dark-grey:#535353;
$light-grey: #b3b3b3;

#header-top{
    background-color: $matte-black;
    height: 60px;
    width: 100%;
    color: $green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-logo{
        padding: 4px;
        a{
            font-weight: 550;
            font-family: sans-serif;
            color: $green;
            text-decoration: none;
            padding-left: 4px;
        }
    }
    .nav-items{
        ul{
            list-style: none;
            display: inline;
            margin: 0;
            padding: 0;
            li{
                display: inline;
                padding-right: 10px;
                a{
                    background-color: $green;
                    color: white;
                    text-decoration: none;
                    border: 0.5px solid $green;
                    padding: 5px;
                    font-size: small;
                    border-radius: 2px;
                }
            }
        }
    }
}